* {
    box-sizing: border-box;
}

.left {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 20%;
}

.main {
    background-color: #c0c0c0;
    padding: 20px;
    float:left;
    width: 60%;
}

.right {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 20%;
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
        width: 100%;
    }
}
