body {
    background-color: dodgerblue;
}

h1 {
    font-family: georgia;
    font-size: 50px;
}

p {
    font-family: georgia;
    font-size: 30px;
    
}

ul {
    font-family: georgia;
    font-size: 50px;
}
